{% extends 'base.html' %}
{% block title %}비밀번호 변경{% endblock %}
{% block content %}
{% if form.errors %}
<p>비밀번호를 다시 확인하세요.</p>
{% endif %}
<p>비밀번호 변경을 위해 이전 비밀번호를 먼저 입력하세요.</p>
<form action="" method="post">
    <ul>
        {% csrf_token %}
        <li>{{ form.old_password.label_tag }}{{ form.old_password }}</li>
        <li>{{ form.new_password1.label_tag }}{{ form.new_password1 }}</li>
        <li>{{ form.new_password2.label_tag }}{{ form.new_password2 }}</li>
        <button type="submit">비밀번호 변경</button>
    </ul>
</form>
{% endblock %}

